{{- define "main" }}
<div class="flex-grow w-full">
  <div class="mb-6">
    <h1 class="text-xl font-bold">{{ .Title }}</h1>
    <span class="text-sm text-gray-500">
      {{ T "readingTime" .ReadingTime }}
    </span>
  </div>
  <div
    x-ref="ktsAnswer"
    x-data="ktsAnswers"
    x-init="initKtsAnswers"
  >
    {{- partialCached "base/no-results" . }}
    <div
      x-cloak
      x-show="$store.questionnaire.isComplete"
      class="mt-3"
    >
      <div id="content" class="mb-6">
        {{ .Content }}
      </div>
      <a
          x-bind="sortBy"
          href="#"
          class="inline-flex items-center gap-x-2 rounded-lg bg-indigo-700 px-5 py-2.5 text-sm font-semibold text-white hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <span x-show="orderBy === 'itemId'">{{ T "sortAnswersByLatency" }}</span>
            <span x-cloak x-show="orderBy === 'latency'">{{ T "sortAnswersByItemId" }}</span>
        </a>
      <div class="mt-3 flex flex-col gap-3 mb-3">
        <template x-bind="items">
          <div class="p-4 text-wrap border rounded-lg shadow-md">
            <div class="flex justify-between">
              <div x-text="itemId.slice(-2)" class="font-extrabold text-xl"></div>
              <div class="text-sm"><span x-text="(answer.latency / 1000).toFixed(2)"></span> {{ T "sec" }}</div>
            </div>
            <div class="mt-3">
              <p x-bind="item(itemA, 'a', answer)"></p>
              <p x-bind="item(itemB, 'b', answer)"></p>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
{{- end }}