{{- define "main" }}
{{- $urlBase := .Site.Home.RelPermalink }}
{{- $fetchingMessage := T "fetchingMessage" }}
{{- $fetchErrorMessage := T "fetchErrorMessage" }}
<div class="flex-grow flex flex-col">
  <div
    x-cloak
    x-ref="ktsQuestionnaire"
    x-init="initKtsQuestionnaire"
    x-data="ktsQuestionnaire"
    data-url-base="{{ $urlBase }}"
    data-fetching-message="{{ $fetchingMessage }}"
    data-fetch-error-message="{{ $fetchErrorMessage }}"
    class="flex-grow flex flex-col"
  >
    <div
      x-bind="notifyFetching"
      class="text-gray-500 italic"
    >
    </div>
    <div
      x-bind="notifyError"
      class="text-gray-500 italic"
    >
    </div>
    <div
      x-cloak
      x-bind="item"
      class="flex-grow"
    >
      <p class="font-semibold">{{ T "choose" | strings.FirstUpper }}</p>
      <p class="mb-9 text-sm">{{ T "chooseTip" | strings.FirstUpper | safeHTML }}</p>
      <h1 class="min-h-24 text-xl font-extrabold">
        <span x-bind="itemText"></span>...
      </h1>
      <div class="mb-6 flex flex-col gap-4">
        <div x-bind="optionA" class="min-h-24 px-4 py-3 font-semibold bg-gray-50 rounded-lg border shadow-md cursor-pointer">
        </div>
        <div x-bind="optionB" class="min-h-24 px-4 py-3 font-semibold bg-gray-50 rounded-lg border shadow-md cursor-pointer">
        </div>
      </div>
      <nav class="flex items-center justify-between py-3 border-t border-gray-300 bg-white">
        <button
          x-bind="prevButton"
          type="submit"
          class="flex items-center gap-2"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
          </svg>
          <span>{{ T "previous" }}</span>
        </button>
        <div>
          <span x-bind="counter"></span>
        </div>
        <button
          x-bind="nextButton"
          type="submit"
          class="flex items-center gap-2"
        >
          <span>{{ T "next" }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
          </svg>
        </button>
      </nav>
    </div>
  </div>
</div>
{{- end }}