@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	scroll-behavior: smooth;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    @apply cursor-pointer;
}

#content h1, #content h2, #content h3  {
    @apply mt-6 first:mt-0 font-extrabold scroll-my-24;
}

#content p {
    @apply my-3;
}

#content a:not(.rounded-lg) {
    @apply text-indigo-700;
}

#content ul {
    @apply my-6 ml-6 list-disc;
}

#content ul li {
    @apply my-3;
}

#content ol {
    @apply my-6 ml-6 list-decimal;
}

#content ol li {
    @apply my-3;
}

/*********************************************/
/* ALPINE RELATED  CSS                       */
/*********************************************/

[x-cloak] {
    display: none !important;
}

/*********************************************/
/* HTMX RELATED                              */
/*********************************************/

.my-indicator {
    display: none;
}

.htmx-request .my-indicator {
    display: inline;
}

.htmx-request.my-indicator {
    display: inline;
}

#fade-me-in.htmx-added {
    opacity: 0;
}

#fade-me-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}
