<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{- partialCached "base/head" . }}
    </head>
    <body
        hx-boost="true"
        hx-swap="transition:true"
        hx-push-url="true"
        hx-history="false"
        class="min-h-screen flex flex-col max-w-screen-lg mx-auto text-gray-700"
    >
        <div class="flex-grow flex flex-col p-9">
            {{- block "main" . }} {{- end }}
        </div>
    </body>
</html>
