<div class="flex flex-wrap gap-3 mt-3">
  <div class="w-96 h-96 flex flex-col justify-center items-center bg-indigo-50 rounded-md">
    {{- with .Site.GetPage "book/002-artisans" }}
      <a href="{{ .Permalink }}" class="text-4xl text-indigo-700">{{ .LinkTitle }}</a>
    {{- end }}
  </div>
  <div class="w-96 h-96 flex flex-col justify-center items-center bg-indigo-50 rounded-md">
    {{- with .Site.GetPage "book/003-guardians" }}
      <a href="{{ .Permalink }}" class="text-4xl text-indigo-700">{{ .LinkTitle }}</a>
    {{- end }}
  </div>
  <div class="w-96 h-96 flex flex-col justify-center items-center bg-indigo-50 rounded-md">
    {{- with .Site.GetPage "book/004-idealists" }}
      <a href="{{ .Permalink }}" class="text-4xl text-indigo-700">{{ .LinkTitle }}</a>
    {{- end }}
  </div>
  <div class="w-96 h-96 flex flex-col justify-center items-center bg-indigo-50 rounded-md">
    {{- with .Site.GetPage "book/005-rationals" }}
      <a href="{{ .Permalink }}" class="text-4xl text-indigo-700">{{ .LinkTitle }}</a>
    {{- end }}
  </div>
</div>