{{ define "toc-subHeading" }}
  {{ range .Headings }}
    <a x-bind="{ ...dropdownLink, ...dropdownTocLink }" class="block py-1" href="#{{ .ID }}">{{ .Title }}</a>
    {{- template "toc-subHeading" . }}
  {{ end }}
{{ end }}

{{- if gt (.Fragments.Headings | len) 0 }}
<div 
  x-data="dropdownToc" 
  x-bind="dropdownTocContainer" 
  class="flex-grow sticky top-0 mb-6"
  >
    <div
      x-data="dropdown"
      hx-boost="false" 
      class="bg-white"
    >
      <button
        x-bind="dropdownButton"
        type="button"
        class="flex items-center gap-2 bg-indigo-50 px-5 py-2.5 font-bold rounded-md shadow-md">
        {{ T "toc" | strings.FirstUpper }}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </button>
      <div
        x-transition.origin.top.left
        x-bind="dropdownPanel"
        style="display: none;"
        class="absolute left-0 mt-2 p-3 text-sm text-ellipsis rounded-md max-w-96 bg-indigo-50 shadow-md"
      >
      <div>
        {{ range .Fragments.Headings }}
          {{- template "toc-subHeading" . }}
        {{ end }}
      </div>
      </div>
    </div>
</div>
{{- end }}