{{- $class := cond .IsHome "hidden" nil }}
<nav class="px-9 mb-9 {{ $class }}">
  <ol class="flex flex-wrap gap-1 items-center text-sm font-medium text-gray-500 hover:text-gray-700">
    <li>
      {{- with .Site.Home }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle | lower }}</a>
      {{- end }}
    </li>
    {{- range after 1 .Ancestors.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">&rsaquo; {{ .LinkTitle | lower }}</a>
      </li>
    {{ end }}
    {{ if not .IsHome }}
      <li>
        <a href="{{ .RelPermalink }}">&rsaquo; {{ .LinkTitle | lower }}</a>
      </li>
    {{ end }}
  </ol>
</nav>