<nav>
  <div class="flex flex-wrap items-center justify-between mx-auto p-9">
    <div>
      <a href="{{ .Site.Home.RelPermalink }}" class="text-3xl font-extrabold">
        &#10063; {{ .Site.Title }}
      </a>
    </div>
    <div class="flex gap-3 items-center">
      {{ $menu := .Site.GetPage "menu" }}
      <a
        href="{{ $menu.RelPermalink }}"
        class="inline-flex items-center p-2 justify-center text-sm rounded-lg"
        >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>
        <span class="hidden">menu</span>
      </a>
    </div>
  </div>
</nav>