{{- define "main" }}
<div
    x-data="match"
    class="flex-grow w-full"
>
    <div class="mb-6">
        <h1 class="text-xl font-bold">{{ .Title }}</h1>
        <span class="text-sm text-gray-500">
            {{ T "readingTime" .ReadingTime }}
        </span>
    </div>
    <div id="content">{{ .Content }}</div>
    <div class="mt-6 mb-3">
        <label for="me" class="block mb-2 font-medium text-gray-900 dark:text-white">{{ T "matchInput"}}</label>
        <input 
            x-bind="meInput"
            autocomplete="off"
            type="text" 
            id="me"
            class="block w-full p-4 border border-gray-300 rounded-lg bg-gray-50 text-base"
        >
        <span
            x-cloak
            x-bind="validationErrorMe"
            class="text-sm text-red-700 mt-1">{{ T "validationError" }}</span>
    </div>
    <div class="my-3">
        <label for="you" class="block mb-2 font-medium text-gray-900 dark:text-white">{{ T "matchInputYou"}}</label>
        <input
            x-bind="youInput"
            autocomplete="off"
            type="text" 
            id="you" 
            class="block w-full p-4 border border-gray-300 rounded-lg bg-gray-50 text-base"
        >
        <span
            x-cloak 
            x-bind="validationErrorYou" 
            class="text-sm text-red-700 mt-1">{{ T "validationError" }}</span>
    </div>
    <a
        x-bind="compressedAnswersButton"
        href="#"
        class="inline-flex items-center gap-x-2 rounded-lg bg-indigo-700 px-5 py-2.5 text-sm font-semibold text-white  hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        {{ T "loadCompressedAnswers" }}
    </a>
</div>
{{- end }}
