{{- define "main" }}
<div
    x-ref="matchConvergence"
    x-data="matchConvergence"
    x-init="initMatchConvergence"
    class="flex-grow">
    <div class="mb-6">
        <h1 class="text-xl font-bold">{{ .Title }}</h1>
    </div>
    <div id="content" class="mb-6">{{ .Content }}</div>
    <div class="mt-6 flex flex-col items-center justify-center bg-gray-50 border border-gray-200 rounded-lg shadow-md">
        <div class="w-full flex flex-col text-center pt-5">
            <span class="mb-1">Il tuo ruolo</span>
            <span x-bind="groupMe" class="block w-full text-2xl font-bold"></span>
            <span x-bind="roleMe" class="block w-full font-bold leading-tight"></span>
        </div>
        <div class="flex gap-1 items-center font-extrabold text-indigo-700">
            <span x-bind="convergence" class="text-[80px] font-mono"></span>
            <span class="text-[30px]">%</span>
        </div>
        <div class="w-full flex flex-col text-center pb-5">
            <span class="mb-1">il ruolo del tuo match</span>
            <span x-bind="groupYou" class="block w-full text-2xl font-bold"></span>
            <span x-bind="roleYou" class="block w-full font-bold leading-tight"></span>
        </div>
    </div>
    <div class="mt-6">
        {{- $compareAnswers := .Site.GetPage "match/compare-answers" }}
        <a href="{{ $compareAnswers.RelPermalink }}" class="text-indigo-700">{{ T "clickHere" | strings.FirstUpper }}</a> {{ T "clickHereToCompareAnswers" }}
    </div>
</div>
{{- end }}
