{{- define "main" }}
<div
    x-data="match"
    class="flex-grow w-full"
>
    <div class="mb-6">
        <h1 class="text-xl font-bold">{{ .Title }}</h1>
        <span class="text-sm text-gray-500">
            {{ T "readingTime" .ReadingTime }}
        </span>
    </div>
    <div id="content">{{ .Content }}</div>
    <div class="mt-6 mb-3">
        <label for="self" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ T "selfInput"}}</label>
        <input 
            x-bind="selfInput"
            type="text" 
            id="self"
            class="block w-full p-4 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-indigo-700 focus:border-indigo-700"
        >
    </div>
    <div class="my-6">
        <label for="other" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ T "selfOther"}}</label>
        <input
            x-bind="otherInput"
            type="text" 
            id="other" 
            class="block w-full p-4 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-indigo-700 focus:border-indigo-700"
        >
    </div>
    <a
        x-bind="compressedAnswersButton"
        href="#"
        class="inline-flex items-center gap-x-2 rounded-lg bg-indigo-700 px-5 py-2.5 text-sm font-semibold text-white  hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        {{ T "loadCompressedAnswers" }}
    </a>
</div>
{{- end }}
